h1{
    color:navy;
}

div h2{
    color:goldenrod;
}


/* pseudo selectors and their some types */
.article h2{
    color:green;
}

article p{
    color:rgb(196, 196, 37);
    
}

/* special pseudo selector */
article p:first-of-type{
    color: brown;
}

article p:last-of-type{
    color:blue;

}
article p:nth-of-type(2n){
    color: blueviolet;
}