h1{
    color:navy;
}

div h2{
    color:goldenrod;
}


/* pseudo selectors and their some types */
.article h2{
    color:green;
}

article p{
    color:rgb(196, 196, 37);
    
}

/* special pseudo selector */
/* apply on just 1 child */
article p:first-of-type{
    color: brown;
}

/* apply on last child */
article p:last-of-type{
    color:blue;

}

/* applying on any specific type like 2(n) mean on even */
article p:nth-of-type(2n){
    color: blueviolet;
}

/* States in css */


a{
    color:blue;
    
}
/* focus, hover, visited, active states */
h1:hover{
    color:rgb(111, 186, 111);
    cursor:pointer;
    transition-duration: 20s;
}

a:visited{
    color:aquamarine;
}

a:active{
    color: cadetblue;
}


