h1{
    color:navy;
}

div h2{
    color:goldenrod;
}


/* pseudo selectors */
.article h2{
    color:green;
}

article p{
    color:olive;
}

/* special pseudo selector */
article p:first-of-type{
    color: brown;
}

article p:last-of-type{
    color:blue;
    
}